@{
    ViewData["Title"] = "Liệt kê";
}

<h1>Liệt kê</h1>
<form action="/CongNhan/Show" method="post">
    <label for="soTrieuchung">Số triệu chứng:</label><input type="text" name="SoTrieuChung" id="soTrieuChung" /><br>
    <input type="submit" name="submit" value="Liệt kê" />
</form>