@model IEnumerable<Thi.Models.CongNhanModel>
@{
    ViewData["Title"] = "Liệt Kê";
}

<h1>Liệt Kê</h1>

<form action="/DiemCachLy/LietKe" method="post">
    <h3>Danh sách công nhân</h3>

    <table class="table table-bordered">
        <thread>
            <tr>
                <td>Mã công nhân</td>
                <td>Tên công nhân</td>
                <td>Chức năng</td>

            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaCongNhan</td>
                    <td>@item.TenCongNhan</td>
                    <td>
                        <a href="Delete?MaCongNhan=@item.MaCongNhan">Delete</a>
                        <a href="ViewCN?macongnhan=@item.MaCongNhan">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>